<link rel='stylesheet' href='/stylesheets/sass/studio.css' />

<h1>ART GENRES</h1>


<br>

<a href="{{landscape}}">

        <div class="fadeIn fadeIn-3s fadeIn-Delay-3s bw grow column" >
             <div class="img"><img src="/images/beaches/beach2.jpg" /> </div>
             <p>Beaches</p>
          </div>
          </a>

<a href="{{portrait}}">
          <div class="fadeIn fadeIn-3s fadeIn-Delay-3s bw grow column" >
             <div class="img"><img src="/images/birds/bird1.jpg" /> </div>
             <p>Birds</p>
          </div>
          </a>

<a href="{{abstract}}">
            <div class="fadeIn fadeIn-3s fadeIn-Delay-3s bw grow column" >
             <div class="img"><img src="/images/landscapes/ls9.jpg" /> </div>
             <p>Landscapes</p>
          </div>
          </a>

<a href="{{stillLife}}">
          <div class="fadeIn fadeIn-3s fadeIn-Delay-3s bw grow column" >
             <div class="img"><img src="/images/progressive/pro1.png" /> </div>
             <p>Progressive Images</p>
          </div>
</a>
<br>
<div id="backToHome">
    <nav class="homePageClass">
        <a href="{{homePage}}">Back to Home</a>
    </nav>
</div>
